.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 2rem;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(3vw, 22%));
  justify-content: center;
  width: 100%;
  gap: 2rem;
}

@media (max-width: 768px) {
  .cards-container {
    grid-template-columns: repeat(3, minmax(3vw, auto));
  }
}
